<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Audio Analyser</title>
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}
</head>
<body style="margin : 0px; background-image: url({% static '3418631.jpg' %}); transform: translate3d(0px, 0px, 0px); background-size: contain;">
<div class="container" style="color: white;">
    <div class="row" align="center">
        <div class="col-md-6"><h1>Audio Analyser</h1></div>
    </div>
    <div class="row" align="center">
        <div class="col-md-6">
                <h3>The different graphs can be shown as:</h3>
                <h4>Amplitude Time Graph</h4>
                <img src='data:image/png;base64,{{ amp }}' class="graph">
                <h4>Spectogram</h4>
                <img src='data:image/png;base64,{{ sep }}' class="graph">
                <h4>Amplitude Silence Time Graph</h4>
                <img src='data:image/png;base64,{{ sil }}' class="graph">
        </div>
    </div>
    <div class="row" align="center">
        <div class="col-md-6">
            <h3>The predictions from the model are</h3>
            <h4>Gender:- {{ gen }}</h4>
            <h4>Emotion:- {{ emo }}</h4>
        </div>
    </div>
</div>
{% block body %} {% endblock %}
</body>
</html>
